<div id="<%= dom_id event %>">
  <p>
    <strong>Name1111:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Tickets count:</strong>
    <%= event.tickets_count %>
  </p>

</div>
