<p style="color: green"><%= notice %></p>

<%= render @user_event %>

<div>
  <%= link_to "Edit this user event", edit_user_event_path(@user_event) %> |
  <%= link_to "Back to user events", user_events_path %>

  <%= button_to "Destroy this user event", @user_event, method: :delete %>
</div>
